@import '~antd/dist/antd.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #FFFCF6;
    text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: #F4C245
}

h2 {
  color: #daab35
}

hr {
  width: 15%;
}

* {
  box-sizing: border-box;
}
